Spring5Base/src/main/webapp/wsdl/StudentDetailsResponse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://school.xml.howtodoinjava.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://school.xml.howtodoinjava.com" xmlns:intf="http://school.xml.howtodoinjava.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://school.xml.howtodoinjava.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getStudent">
    <complexType/>
   </element>
   <element name="getStudentResponse">
    <complexType>
     <sequence>
      <element name="getStudentReturn" type="impl:Student"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Student">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="standard" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="setStudent">
    <complexType>
     <sequence>
      <element name="value" type="impl:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="setStudentResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setStudentRequest">

      <wsdl:part element="impl:setStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setStudentResponse">

      <wsdl:part element="impl:setStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentResponse">

      <wsdl:part element="impl:getStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentRequest">

      <wsdl:part element="impl:getStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentDetailsResponse">

      <wsdl:operation name="getStudent">

         <wsdl:input message="impl:getStudentRequest" name="getStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentResponse" name="getStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStudent">

         <wsdl:input message="impl:setStudentRequest" name="setStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:setStudentResponse" name="setStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentDetailsResponseSoapBinding" type="impl:StudentDetailsResponse">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentDetailsResponseService">

      <wsdl:port binding="impl:StudentDetailsResponseSoapBinding" name="StudentDetailsResponse">

         <wsdlsoap:address location="http://localhost:8080/Spring5Base/services/StudentDetailsResponse"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
